ion-content {
  div {
    /*   height: 85vh;
    padding-top: 250px; */
    margin-bottom: 3%;
    &#div1 {
      ion-grid {
        ion-row {
          ion-col {
            &#col1 {
              border: 2px solid #3880ff;
              .recherche {
                margin-bottom: 20px;
                text-align: center;
                text-decoration: underline solid;
                font-weight: bolder;
              }
              &.depart {
                text-align: center;
                font-weight: 50;
              }
            }
            &#col2 {
              border-right: 2px solid #3880ff;
              text-align: center;
              justify-content: space-around;
            }
          }
        }
      }
    }
  }
}

ion-datetime {
  background: #fff;
}
.dismiss {
  margin-right: 400px;
}
.ion-grid-user {
  --ion--grid--padding-sm: 20px;
  --ion--grid--padding-md: 30px;
  --ion--grid--padding-lg: 40px;
  --ion--grid--padding-xl: 10 0px;
}
.ion-row-user {
  border: 0;
  ion-col {
    border: 0;
  }
}
.custom-table {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.table-header {
  background-color: #f4f4f4;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #ccc;
}

.table-row {
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.table-row:hover {
  background-color: #eaeaea;
}

ion-col {
  padding: 10px;
  text-align: center;
}

.progress-alert ion-progress-bar {
  margin-top: 20px;
  height: 20px;
}

.text-done {
  background-color: #80b9f7; /* Couleur primaire */
  font-weight: bold;
  color: black;
  border-radius: 5px;
  ion-text {
    margin: 5px;
  }
}

.text-paiment-success {
  background-color: #63db7f; /* Couleur de succès */
  font-weight: bold;
  color: black;
  ion-text {
    margin: 5px;
  }
}

.text-failed {
  background-color: #f5717f; /* Couleur de danger */
  font-weight: bold;
  color: black;
  ion-text {
    margin: 5px;
  }
}

ion-content {
  --overflow: scroll; /* Assurez-vous que le contenu peut défiler */
}

.sticky-button {
  position: fixed;
  top: 100px;
  right: 20px; /* Positionnez-le en bas à droite */
  z-index: 100;
}

// loader
/* Conteneur du loader */
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Occupe toute la hauteur de l'écran */
  background-color: rgba(255, 255, 255, 0.9); /* Fond légèrement transparent */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Occupe toute la largeur de l'écran */
  z-index: 1000; /* Toujours au-dessus des autres éléments */
}

/* Style du loader */
.loader {
  border: 6px solid #f3f3f3; /* Couleur grise claire */
  border-top: 6px solid #3498db; /* Couleur bleue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Style du texte */
.loader-text {
  margin-top: 10px;
  font-size: 16px;
  color: #555; /* Gris foncé */
  font-weight: bold;
  text-align: center;
}


