<ion-content class="ion-padding">
  <ion-label for="BttImport">Charger un Fichier (CSV/Excel): Nom;Telephone;Montant;Motif</ion-label>
  <ion-input id="BttImport" type="file" accept=".csv,.xlsx,.xls" (change)="importFile($event)" />

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-progress-bar color="primary" *ngIf="isLoading" [value]="loadingProgress"></ion-progress-bar>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1" formArrayName="rows" #table="matTable">
      <!-- Nom -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
          <input matInput placeholder="Nom" formControlName="nom" [attr.id]="'name-input-' + i">
        </td>
      </ng-container>

      <!-- Indicatif -->
      <ng-container matColumnDef="indicatif">
        <th mat-header-cell *matHeaderCellDef> Indicatif </th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
          <input matInput type="number" placeholder="indicatif" formControlName="indicatif">
        </td>
      </ng-container>

      <!-- Tel -->
      <ng-container matColumnDef="tel">
        <th mat-header-cell *matHeaderCellDef> N°Tél. </th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
          <input matInput type="number" placeholder="tel" formControlName="tel">
        </td>
      </ng-container>

      <!-- Montant -->
      <ng-container matColumnDef="montant">
        <th mat-header-cell *matHeaderCellDef> Montant </th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
          <input matInput type="number" placeholder="Montant" formControlName="montant">
        </td>
      </ng-container>

      <!-- Motif -->
      <ng-container matColumnDef="motif">
        <th mat-header-cell *matHeaderCellDef> Motif </th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
          <input matInput placeholder="Montant" formControlName="motif" (blur)="onLastFieldBlur(i)">
        </td>
      </ng-container>
      


      <!-- Action -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row; let i = index">
          <button mat-icon-button color="warn" (click)="removeRow(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['nom', 'indicatif', 'tel', 'montant', 'motif', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['nom', 'indicatif', 'tel', 'montant', 'motif', 'actions'];"></tr>
    </table>

    <ion-button expand="full" type="submit">Valider</ion-button>

  </form>
</ion-content>
